<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>
<header class="container-fluid header">
    <div class="container header-itens">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid ">
                <a class="navbar-brand" href="/products">
                    <i class="fas fa-shopping-bag fa-lg"></i> LuanEletro
                </a>

                <div class="collapse navbar-collapse d-flex justify-content-end " id="navbarSupportedContent">
                    <ul class="navbar-nav header-menu">
                        <li class="nav-item"><a href="/user/carrinho">Carrinho</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Minha Conta
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/user/profile">Perfil</a></li>
                                <li><a class="dropdown-item" href="/user/orders">Meus Pedidos</a></li>
                                <li><a class="dropdown-item" href="/user/cards">Cartões</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex ms-5">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>