<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>
<header class="container-fluid header">
    <div class="container header-itens">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid ">
                <a class="navbar-brand" href="/">
                    <i class="fas fa-shopping-bag fa-lg"></i> LuanEletro
                </a>
                <% if(!logged){%>
                    <ul class="navbar-nav header-menu">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Empresa
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/auth/partner">Entrar</a></li>
                                <li><a class="dropdown-item" href="/partner/register">Cadastrar-se</a></li>
                            </ul>
                        </li>
                    </ul>
                <%}%>
                <div class="collapse navbar-collapse d-flex justify-content-end " id="navbarSupportedContent">
                    <ul class="navbar-nav header-menu">
                        <% if(logged){%>
                            <li class="nav-item"><a href="/product/carrinho">Carrinho</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Minha Conta
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/user/profile">Perfil</a></li>
                                    <li><a class="dropdown-item" href="/orders/user">Meus Pedidos</a></li>
                                    <li><a class="dropdown-item" href="/cards/user">Cartões</a></li>
                                </ul>
                            </li>
                        <%}else{%>  
                            <li><a class="nav-item btn btn-outline-secondary" href="/auth/user">Entrar</a></li>
                            <li><a class="nav-item btn btn-outline-secondary ms-3" href="/user/register">Cadastrar</a></li>
                        <%}%>  
                    </ul>
                    <form class="d-flex ms-5" style="display: none !important;">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <% if(logged) {%>
                        <button class="btn btn-outline-secondary ms-3" id="btn-logout">Sair</button>
                    <%}%>  
                </div>
            </div>
        </nav>
    </div>
</header>
<%if(!logged){%>
    <div class="container-fluid sell-luaneletro">
        <div class="col-12 text-center p-2">
            <span class="light">Quer vender na LuanEletro?</span>
            <a class="btn btn-success ms-1" href="/partner/register">Clique aqui</a>    
        </div>
    </div>
<%}%>