<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>LuanEletro - Marketplace</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('../partials/headDefault') %>
</head>
<body>
    <%- include('../partials/processing') %>

    <%- body %>

    <%- include('../partials/scriptsDefault') %>
</body>
</html>