<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home Page - Marketplace</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' href='../css/index.css'>
</head>
<body>
    <div class="option-sign">
        <button id="btn-login">Login</button>
        <button id="btn-cad-user">Cadastre-se como Usuário</button>
        <button id="btn-cad-partner">Cadastre-se como Partner</button>
    </div>

    <script>
        const btnLogin = document.querySelector('#btn-login')
        const btnCadUser = document.querySelector('#btn-cad-user')
        const btnCadPartner = document.querySelector('#btn-cad-partner')

        btnLogin.addEventListener('click', () => {
            window.location.href = '/auth'
        })
        btnCadUser.addEventListener('click', () => {
            window.location.href = '/register-user'
        })
        btnCadPartner.addEventListener('click', () => {
            window.location.href = '/register-partner'
        })

    </script>
</body>
</html>