.processing {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
}

.spinner-processing {
    width: 3rem;
    height: 3rem;

    position: relative;
    top: 49%;
    left: 49%;
}
