body {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", Georgia, "Times New Roman", Times, serif;
    box-sizing: border-box;
}

.container-user {
    margin: 0 auto;
    padding: 30px 0;
}

.off {
    display: none;
}

.fs-7 {
    font-size: 0.875em;
}

/* FORM */

.form-user {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 60px;
    padding: 30px 15px;

    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
}

.form-user label,
input {
    width: 100%;
}

.form-inputs {
    margin: 0 auto;
    margin-bottom: 20px;
}

/* PROFILE ORDERS*/

.order {
    /*
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;*/
    justify-content: space-evenly;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order-info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(204, 204, 204, 0.3);
}

.order-info > div {
    display: block;
    flex-wrap: wrap;
}

.order-info > div > p {
    margin: 0;

    font-size: 0.875em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.order-info > div > span {
    margin: 0;

    font-size: 0.875em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

/* ORDER PRODUCT */

.order-info-product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.order-products {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.order-products:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.order-infos {
    display: flex;
}

.order-info-product-img {
    width: 80px;
}

.order-info-product-img img {
    display: block;
    width: 100%;
}

.prod-partner-info p {
    margin: 0 0 5px 10px;
}

.order-owner {
    justify-self: center;
}

.order-owner p {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 0.875em;
}

.order-owner p:first-child {
    font-weight: bold;
    font-size: 1em;
}

/* PROFILE CARDS*/

.cards {
    /*display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    justify-content: space-evenly;*/
    padding: 0;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-info {
    /*display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;*/

    padding: 15px;
    border-bottom: 1px solid #ccc;
    background-color: #faf8f9;
}

.card-info > div {
    flex-wrap: wrap;
}

.card-info > div > p {
    margin: 0;
    font-size: 0.875em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.card-info > div > span {
    margin: 0;
    font-size: 0.875em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

/* CARDS */

.name-in-card {
    display: flex;
    align-items: flex-end;
}

.card-info-owner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
}

.card-owner {
    display: grid;
    row-gap: 10px;
}

.card-owner > div:last-child {
    align-self: self-end;
}

.card-owner p {
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold;
}

.name-owner {
    text-transform: uppercase;
}

.card-owner-address p {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 0.875em;
}

.card-owner-address p:first-child {
    font-weight: bold;
    font-size: 1em;
}

/* FIM PROFILE CARDS*/

/* PROFILE DATA*/
.box-user {
    margin: 0 auto;
}

.user-data {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box-data {
    border-bottom: 1px solid #ccc;
    padding: 15px;
}

.box-data:last-child {
    border: none;
}

.box-data > div p {
    margin: 0 0 10px 0;
}

.box-data > div p:first-child {
    font-weight: bold;
}

.box-data > button {
    cursor: pointer;
    height: 2.5em;
    padding: 5px 15px;
    border-radius: 2px;
    font-weight: bold;

    align-self: center;
}

/* DETAILS PRODUCTS */

.img-product {
    max-width: 250px;
}

.price {
    color: tomato;
}

.sold-by-partner {
    font-weight: bold;
}

.secure-transaction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.secure-transaction p {
    display: block;
    font-size: 0.874em;
}

.info-lateral {
    border: 1px solid #ccc;
    border-radius: 5px;

    justify-items: center;
}

.shipping {
    font-weight: bold;
}

.storage {
    color: #198754;
}

.shipping-by {
    font-size: 0.875em;
    color: rgba(0, 0, 0, 0.6);
}

.shipping-by > div > span:last-child {
    color: rgba(0, 0, 0, 0.8);
}

.details-tecnicals {
    margin-left: 0 !important;
    border-top: 1px solid rgb(223, 219, 219);
    border-bottom: 1px solid rgb(223, 219, 219);
    font-size: 0.875em;
}

.detail-tecnical {
    padding: 15px 0;
    background-color: #ececec;
}

/* FINALIZE ORDER */

.info-order-finalize {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.order-confirm {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info-order-product {
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info-order-img {
    width: 90px;
}

.termos-finalize {
    font-size: 0.875em;
}

.order-values {
    font-size: 0.875em;
}

.total-order-finalize {
    color: #dc3545;
}

.delivery-finalize {
    color: #fd7e14;
}

.product-price-finalize {
    color: #dc3545;
}

.product-item-finalize {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.product-item-finalize:last-child {
    border: 0;
    margin-bottom: 0;
}

/* TOAST CARRINHO*/

.toast-carrinho {
    position: absolute;
    top: 59px;
    left: 38%;
}
