<main class="container container-user">
    <div class="row mb-4 new-card">
        <div class="row m-0 ms-0 cards">
            <div class="row ms-0 col-12 card-info">
                <div class="col-8 align-self-center">
                    <h4 class="mb-0">Cadastrar um novo Cartão</h4>
                </div>
                <div class="col-4 align-self-center text-end">
                    <button class="btn btn-primary" type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#collapseFormCard" aria-expanded="false" 
                        aria-controls="collapseFormCard">
                        <i class="fas fa-angle-down"></i>
                    </button>
                </div>
            </div>
            <div class="collapse" id="collapseFormCard">
                <form class="row col">
                    <div class="row col-9 p-4">
                        <div class="col-6 mb-2">
                            <div id="cardHelp" class="form-text">Preencher sem espaços</div>
                            <input class="form-control" type="text" name="cardNumber" id="cardNumber" placeholder="Numero do Cartão">
                        </div>
                        <div class="col-6 d-flex align-items-end mb-2">
                            <input class="form-control" type="text" name="nameCard" id="nameCard" placeholder="Nome que está no Cartão">
                        </div>
                        <div class="col-4">
                            <div id="monthHelp" class="form-text">Exemplo: 07</div>
                            <input class="form-control" type="text" name="monthExpire" id="monthExpire" placeholder="Mês de expiração">
                        </div>
                        <div class="col-4">
                            <div id="yearHelp" class="form-text">Exemplo: 2025</div>
                            <input class="form-control" type="text" name="yearExpire" id="yearExpire" placeholder="Ano de expiração">
                        </div>
                        <div class="col-4 d-flex align-items-end">
                            <input class="form-control" type="text" name="securityCode" id="securityCode" placeholder="Código de Segurança">
                        </div>
                    </div>
                    <div class="row col-3">
                        <div class="col-12 align-self-center text-center">
                            <button id="btn-send-card" class="btn btn-primary col-6">
                                <span class="btn-send">Cadastrar</span>
                                <div class="spinner-border text-light btn-card-spinner off" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row itens-cards justify-content-center" id="itens-cards">
        
    </div>
</main>