<form action="" method='POST' class="row col-6 mt-6 form-user">
    <div class="row d-flex justify-content-center mb-3">
        <a class="navbar-brand me-0 text-center col-6" href="/">
            <i class="fas fa-shopping-bag fa-lg"></i> LuanEletro
        </a>
        <h3 class="text-center mt-2">Cadastro de Usuário</h3>
    </div>
    <div class="col-6 form-inputs">
        <label for="name">Nome Completo:</label>
        <input class="form-control" type="text" name="name" id="fullname" required>
    </div>
    <div class="col-6 form-inputs">
        <label for="email">Email:</label>
        <input class="form-control" type="email" name="email" id="email" required>
    </div>
    <div class="col-5 form-inputs">
        <label for="dtnasc">Data Nascimento:</label>
        <input class="form-control" type="date" name="dtnasc" id="dtnasc" required>
    </div>
    <div class="col-7 form-inputs">
        <label for="password">Senha:</label>
        <input class="form-control" type="password" name="password" id="password" required>
    </div>
    <div class="row form-inputs">
        <button class="btn btn-primary" type="button" id="btn-send-user">Enviar</button>
    </div>
</form> 
