<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Integração com a Sandbox da Juno</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
            rel="stylesheet"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/user.css" />
    </head>
    <body>
        <form action="" method='POST' class="row col-6 mt-6 form-user">
            <div class="row d-flex justify-content-center mb-3">
                <a class="navbar-brand me-0 text-center col-6" href="/">
                    <i class="fas fa-shopping-bag fa-lg"></i> LuanEletro
                </a>
                <h3 class="text-center mt-2">Cadastro de Usuário</h3>
            </div>
            <div class="col-6 form-inputs">
                <label for="name">Nome Completo:</label>
                <input class="form-control" type="text" name="name" id="fullname" required>
            </div>
            <div class="col-6 form-inputs">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="email" id="email" required>
            </div>
            <div class="col-5 form-inputs">
                <label for="dtnasc">Data Nascimento:</label>
                <input class="form-control" type="date" name="dtnasc" id="dtnasc" required>
            </div>
            <!--
            <label for="cpf">CPF:</label>
            <input type="text" name="cpf" id="cpf" required>
            <label for="phone">Telefone:</label>
            <input type="text" name="phone" id="phone" required>
            <label for="street">Rua:</label>
            <input type="text" name="street" id="street" required>
            <label for="numberHouse">Número Residência:</label>
            <input type="text" name="numberHouse" id="number-house" required>
            <label for="city">Cidade:</label>
            <input type="text" name="city" id="city" required>
            <label for="state">UF:</label>
            <input type="text" name="state" id="state" required>
            <label for="cep">CEP:</label>
            <input type="text" name="cep" id="cep" required>-->
            <div class="col-7 form-inputs">
                <label for="password">Senha:</label>
                <input class="form-control" type="password" name="password" id="password" required>
            </div>
            <div class="row form-inputs">
                <button class="btn btn-primary" type="button" id="btn-send-user">Enviar</button>
            </div>
        </form> 

        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <script type="module" src="/js/user.js"></script>
    </body>
</html>
