<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Marketplace Luan - Cadastro de Produtos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <form action="" method='POST' class="form-product">
        <label for="name">Nome do Produto:</label>
        <input type="text" name="name" id="name-product" required>
        <label for="description">Descrição:</label>
        <textarea name="description" id="description-product" required></textarea>
        <label for="price">Preço:</label>
        <input type="number" name="price" id="price-product" required>
        <label for="img-url">Image URL:</label>
        <input type="text" name="img-url" id="img-url" required>
        <button type="button" id="btn-send-product">Cadastrar</button>
    </form> 

    <script src="js/partner.js"></script>
</body>
</html>