<form action="" method='POST' class="row col-6 form-partner">
    <div class="row d-flex justify-content-center mb-3">
        <a class="navbar-brand me-0 text-center col-6" href="/">
            <i class="fas fa-shopping-bag fa-lg"></i> LuanEletro
        </a>
        <h3 class="text-center mt-2">Cadastro de Parceiro</h3>
    </div>
    <div class="col-12 form-inputs">
        <label for="name">Nome da Loja:</label>
        <input class="form-control" type="text" name="name" id="name" required>
    </div>
    <div class="col-7 form-inputs">
        <label for="email">E-mail:</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="example@example.com" required>
    </div>
    <div class="col-5 form-inputs">
        <label for="phone">Telefone:</label>
        <input class="form-control" type="text" name="phone" id="phone" placeholder="(99) 99999-9999" required>
    </div>
    <div class="col-3 form-inputs">
        <label for="cep">CEP:</label>
        <input class="form-control" type="text" name="cep" id="cep" required>
    </div>
    <div class="col-9 form-inputs">
        <label for="street">Rua:</label>
        <input class="form-control" type="text" name="street" id="street" required>
    </div>
    <div class="col-3 form-inputs">
        <label for="numberHouse">Numero:</label>
        <input class="form-control" type="text" name="numberHouse" id="number-house" required>
    </div>
    <div class="col-3 form-inputs">
        <label for="state">UF:</label>
        <input class="form-control" type="text" name="state" id="state" required>
    </div>
    <div class="col-6 form-inputs">
        <label for="city">Cidade:</label>
        <input class="form-control" type="text" name="city" id="city" required>
    </div>
    <div class="col-12 form-inputs">
        <label for="password">Senha:</label>
        <input class="form-control" type="password" name="password" id="password" required>
    </div>
    <div class="row form-inputs">
        <button type="button" class="btn btn-primary" id="btn-send-partner">Enviar</button>
    </div>
</form> 
